
.birthDeck{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.birthCard{
    position: relative;
    width: 200px;
    height: 200px;
    padding: 1rem;
    margin: 1.5rem;
    border: 3px solid black;
    margin-bottom: -10px;
    border-radius: 10%;
    z-index: 0;
    box-shadow: 32px 15px 15px -3px rgba(0, 0, 0, 0.1);
}

.birthCard-delete{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#delete{
    background-color: transparent;
    border: none;
}

#delete img{
    height: 30px;
    cursor: pointer;
    margin-right: 3px;
}

.birthCard-name{
    margin-right: 1rem;
}


.birthCardCountdown{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.daysContainer, .hoursContainer, .minutesContainer, .secondsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.1);
        border: 4px solid rgba(255, 255, 255, 0.3);
        width: 50px;
        height: 50px;
        border-radius: 99PX;
}

.days, .hours, .minutes, .seconds{
    text-transform: uppercase;
    font-size: 1.5em;
}

.daysLabel, .hoursLabel, .minutesLabel, .secondsLabel{
    font-size: 0.5em;

}

.dateListheaderConter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dateListheaderConter h1{
    margin-right: 1rem;
}

.dateListheaderConter button{
    margin-right: 1rem;
}

.btnSwitch {
    font-size: 1em;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: #1b1b71;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btnSwitch:hover {
    background-color: #008cba;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.btnSwitch.active {
    background-color: #f44336;
    box-shadow: 0px 15px 20px rgba(240, 52, 52, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination button {
    border-radius: 50px;
    border: none;
    padding: 5px 10px;
    margin: 0 10px;
    background-color: #1b1b71;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.pagination button:hover {
    background-color: #512DA8;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.pagination button:disabled {
    background-color: #E0E0E0;
    color: #757575;
    cursor: not-allowed;
    box-shadow: none;
}


@media (max-width: 600px) {
    .birthDeck {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .birthCard {
        width: 35%;
        margin: 1rem 0;
    }

    .birthCard-delete {
        position: static;
        margin-top: 1rem;
    }

    .birthCardCountdown {
        flex-direction: row;
        justify-content: center;
    }

    .daysContainer,
    .hoursContainer,
    .minutesContainer,
    .secondsContainer {
        width: 40px;
        height: 40px;
    }

    .days,
    .hours,
    .minutes,
    .seconds {
        font-size: 1.2em;
    }

    .daysLabel,
    .hoursLabel,
    .minutesLabel,
    .secondsLabel {
        font-size: 0.7em;
    }

    .dateListheaderConter {
        flex-direction: column;
    }

    .dateListheaderConter h1,
    .dateListheaderConter button {
        margin-bottom: 1rem;
    }

    .btnSwitch {
        padding: 0.3em 0.6em;
    }

    .pagination{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .pagination button {
        padding: 3px 6px;
        margin: 0 5px;
    }

}